<%= form_for ([@survey,@question])  do |f| %>
    <%= f.text_field :text, placeholder: "Your Question here" %><br>
    <%= f.submit "Create Question" %>
  <button>
    <%= link_to "Back", survey_path(@survey) %>
  </button>
<% end %>
