<div class="text-center responsive-div-ajax">
  <% if current_user.questions.include? @question %>
    <%= form_for @question  do |f| %>
      <div style="margin:0px 0px 10px 0px;">
        <%= f.text_field :text, placeholder: @question.text ,class: 'responsive-input',:required => true%>
      </div>
      <%= link_to "Back", question_path(@question), class: 'btn btn-warning responsive-button' %>
      <%= f.submit "Finish editing", class: 'btn btn-warning responsive-button' %>
    <% end %>
  <% else %>
    <p>You cannot edit what you did not create</p>
  <% end %>
</div>
