<% if logged_in? %>
  <% if current_user.id == @user.id %>
    <%= link_to "Create a new survey", new_user_survey_path(@user, @survey), remote: true %><br>
    <div id="survey_attach"></div>
      <% if @user.surveys.empty? %>
        <p>We will like you to Get your friends and family opinion</p>
      <% else %>
        <% @user.surveys.each do |survey| %>
        <%= link_to survey.name, survey_path(survey) %><br>
      <% end %>
    <% end %>
  <% else %>
    <p>You are not logged in  </p>
  <% end %>
<% else %>
  <p>Please Log in</p>
<% end %>
