<div class="text-center" style="padding-top: 125px;font-family: Alfa Slab One;">
  <p style="color: white">Vey Up</p>
  <p>What you Got?</p>
  <input type="text" style="width: 250px; height: 45px; font-weight: 10px;border-radius: 5px;opacity: 0.8">
  <button type="button" style="background-color:green; margin: -7.5px;height: 46px;font-family: Alfa Slab One; border-radius: 5px;opacity: 0.8">Search</button>
</div>


