<ul class="lSSlideOuter">
  <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px" />
  </li>
  <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
   <li data-src="/assets/sur.jpg">
    <img src="/assets/sur.jpg" style="width: 100px;height: 100px"/>
  </li>
  ...
</ul>


<p>"please"</p>

<!-- <div class="text-center" style="padding-top: 18%;font-family: Alfa Slab One;vertical-align: middle;">
<p style="color: white">Vey Up</p>
<p>What you Got?</p>
<input type="text" class="responsive-input" style="font-weight: 10px;border-radius: 5px;opacity: 0.8">
<button type="button"  class="responsive-button fa fa-search-minus" style="background-color:green; margin: -6.5px;font-family: Alfa Slab One; border-radius: 5px;opacity: 0.8"></button>
</div> -->


