<h1><%=@answer.text%></h1>
<%= link_to "Edit", edit_answer_path(@answer) %>
<%= link_to "Back", question_path(@question) %>
<%= link_to "Delete", answer_path(@answer), method: :delete, data: {confirm: "You sure?"} %><br>




