<%= form_for ([@user,@survey])  do |f| %>
  <div style="margin:0px 0px 10px 0px;">
    <%= f.text_field :name, placeholder: "Survey name", class: 'input-lg' %>
  </div>

  <%= f.submit "Create Survey",class: 'btn btn-warning btn-lg' %>
  <%= link_to "Back", user_path(@user), class: 'btn btn-warning btn-lg'%>
<% end %>

