// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body { -ms-touch-action: none; /* DISABLE DOUBLE-TAP-ZOOM */ }

 .stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  // position: fixed;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.users.follow {
  padding: 0;
}


.filter-image{
  width: 80px;
  height: 80px;
}

#contrast {
    // -webkit-filter: invert(100%); /* Safari */
    filter:contrast(100%);
}

#grayscale {
    // -webkit-filter: invert(100%); /* Safari */
    filter:grayscale(60%);
}
#saturate {
    // -webkit-filter: invert(100%); /* Safari */
    filter:saturate(3)
}
#sepia {
    // -webkit-filter: invert(100%); /* Safari */
    filter:sepia(100%);
}
#hue-rotate {
    // -webkit-filter: invert(100%); /* Safari */
    filter:hue-rotate(90deg);
}

.fa-heartbeat {
  color: red;
}

.fa-users {
  color: Azure;
}



