// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  touch-action: none;
}


.alert{
  color: red;
  font-size: 16px;
  width: 250px;
  margin-left: 10px;
  text-align: center;
}
